.navbar {
  /* align-items: center; */
  padding: 13px 32px 13px 1rem;
  background-color: #fff;
}
.navbar-container {
  /* padding: 10px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f0f5ff;
  width: 704px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 12px;
}

.search-input {
  border: none;
  background-color: transparent;
  width: 90%;
  padding: 5px;
  outline: none;
  font-size: 16px;
}
.seller-para {
  white-space: nowrap;
}
.account-sector {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 9px;
  letter-spacing: 0.5px;
  border: 1px solid transparent;
}

.account-sector:hover .arrow {
  transform: rotate(180deg);
}

.arrow {
  transition: transform 0.35s;
}
.dot-menu {
  box-sizing: border-box;
}

.dashboard:hover,
.dot-menu:hover {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #00000005;
}

.dashboard-menu {
  display: none;
  list-style-type: none;
  position: absolute;
  top: 102%;
  left: 0;
  background-color: #fff;
  /* border: 1px solid rgb(190, 190, 190); */
  box-shadow: 0 0 10px rgb(0 0 0/20%);
  border-radius: 0 0 8px 8px;
  z-index: 2;
}
.help-menu {
  display: none;
  position: absolute;
  top: 102%;
  right: 0;
  background-color: #fff;
  /* border: 1px solid rgb(190, 190, 190); */
  box-shadow: 0 0 10px rgb(0 0 0/20%);
  border-radius: 0 0 8px 8px;
  z-index: 2;
}

.dashboard:hover .dashboard-menu {
  display: inline-block;
}
.dot-menu:hover .help-menu {
  display: inline-block;
}

.dashboard-menu-listitem {
  padding: 10px 1.5rem 10px 12px;
  white-space: nowrap;
  font-size: 14.5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard-menu-listitem:hover {
  background-color: #00000006;
}

@media (max-width: 992px) {
  .navbar-container {
    flex-wrap: wrap;
  }
  .mobile-disable {
    display: none;
  }
  .navbar {
    padding: 10px;
    background-color: #fff;
  }
  .logo {
    left: -55px;
  }
  .search-container {
    order: 5;
    margin-top: 6px;
  }
}
